// Variable overrides - must come before @imports
$color1: #C9E4CA; // Tea Green
$color2: #2E1760; // Russian Violet
$color3: #E0FBFC; // Light Cyan
$color4: #98C1D9; // Pale Cerulean
$color5: #5C6B73; // Cadet

$body-bg: $color3;
$body-color: $color2;

$header-bg: $color5;
$header-color: $color4;

$section-bg: $color4;
$section-color: $body-color;

$link-color: $color1;
$link-hover: $color4;

$footer-bg: $header-bg;
$footer-color: $header-color;

// Required
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// Optional
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/code";
@import "../../node_modules/bootstrap/scss/grid";

body {
  min-height: 100vh;
  background-color: $body-bg;
  color: $body-color;
}

header {
  width: 100%;
  background-color: $header-bg;
  color: $header-color;
}

section {
  background-color: $section-bg;
  color: $section-color;
  border: 1px solid $color2;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 0;
  padding: 24px 32px;
}

section::after {
  content: "";
  clear: both;
  display: block;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  padding-bottom: 16px;
  // margin-bottom: 32px;
  // border-bottom: 2px solid $color2;
}

.navbar-brand.h1 {
  display: inline-block;
  padding: 12px 32px;
  margin: 0;
  font-size: 32px;
}

.navbar-brand.h1:hover {
  color: $color1;
}

.nav-item {
  margin: 0;
  padding: 1em;
}

.nav-link {
  color: $link-color;
}

.nav-link:hover {
  color: $link-hover;
}

/* Profile Image */

.profile-image {
  display: block;
  float: left;
  width: 200px;
  margin: 0 1em 0 0;
  border-radius: 15px;
}

/* Project Gallery */

.project-gallery {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.project-gallery li {
  display: inline-block;
  position: relative;
  margin: 20px 10px;
}

.project-image {
  width: 250px;
  border-radius: 10px;
  box-shadow: grey 5px 5px 5px;
}

.project-title {
  background-color: $color5;
  color: $color1;
  width: 100%;
  position: absolute;
  bottom: 16px;
  text-align: center;
  box-sizing: border-box;
  padding: 16px;
  opacity: 0.95;
}
.project-title:hover {
  background-color: $color1;
  color: $color2;
  opacity: 0.75;
}

/* Footer Content */

footer {
  background-color: $footer-bg;
  color: $footer-color; 
  width: 100%;
  text-align: center;
  border-top: 8px solid $body-bg;
  padding-top: 12px;
  flex-shrink: 0;
}

/* Form */

.btn-info {
  background-color: $color2;
}

/****************************************
* MEDIA QUERIES
****************************************/

/*
* 768px or less 
* Set content to 95% 
* re
*/
@media screen and (max-width: 767px) {
  section {
      width: 95%;
      margin: auto;
  }
}
/* 655 to 767 px 
* Manually set the left margin for the navbar to maintain consistency with 
* content container prior to stacking (see below).
*/
@media screen and (min-width:655px) and (max-width: 767px) {
  .navbar-expand-md {
      margin-left: 15px;
  }
}

/* 654px or less (when portfolio gallery no longer holds 2 images per line)
* Stack navbar-brand and nav links
* Resize images
*/
@media screen and (max-width: 654px) {
  .navbar-brand, .navbar-nav {
      width: 100%;
      text-align: center;
      justify-content: center;
  }
  .nav-item {
      padding-bottom: 0;
      padding-top: 0;
  }
  .profile-image {
      float: none;
      width: 100%;
      margin: 0 0 16px 0;
  }
  .project-image {
      height: 100%;
      width: 100%;
  }
}

/* 576px or less (XS)
* Remove content margins 
*/
@media screen and (max-width: 576px) {
  section {
      width: 100%;
  }
}
